* {
	box-sizing: border-box;
	align-content: center;
	color: white;
}

body {
   background-image:url("cloud.jpg");
   background-repeat:no-repeat; 
   background-size: cover; 
}

.title,
.buttonsDiv {
	text-align: center;
	font-size: 28px;
	padding: 20px;
}

img {
	height: 150px;
	width: 150px;
	border: 1px solid grey;
}

button {
	margin: 2px;
}
